body{
	color: #eee;
	overflow: hidden;
	font-family: helvetica, sans-serif;
	cursor: default;
}

h2 {
	float: center;
	color: #696969;
	margin-top: 10px;
}

select {
	float: left;
	margin-left: 1%;
	margin-right: 2%;
	margin-top: 0;
	width: 325px;
	height: 25px;
	border-radius: 5px;
	background-color: #eee;
}

h3 {
	padding-left: 5%;
	padding-bottom: 2%;
}

h4 {
	margin-top: 0;
	padding-left: 5%;
	padding-top: 5%;
}

img {
	height: 580px;
	width: 960px;
	padding-left: 60px;
	padding-top: 60px;
}

ul {
	padding-left: 0;
	margin-top: 0;
}

li {
	list-style-type: none;
	background-color: #555;
	height: 60px;
	padding: 2%;
	color: white;
	border-bottom: solid 1px #eee;
}

li.selected {
	background-color: #666;
}

#wrap {
	width: 1420px;
	margin-left: 0;
}

.title {
	background-color: #666;
	height: 48px;
	width: 1070px;
	float: right;
	border-bottom: solid 1px #eee;	
}

.selectedPhoto {
	background-color: #666;
	height: 679px;
	width: 1070px;
	float: right;
}

.indexList, .List {
	background-color: #555;
	height: 728px;
	width: 350px;
	float: left;	
}



